<fieldset id="login">
<legend>Login</legend>
<form action='/login' method='post'>
  <input type="text" name="username" value="dbc">
  <input type="text" name="password" value="pw"> 
  <input type="submit" value="LOGIN">
</form>

</fieldset>
